{% extends 'base.html' %}

{% block title %}Контакты - TechnoSchool{% endblock %}

{% block content %}
<div class="p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-3 fw-normal text-body-emphasis">Контакты</h1>
  <p class="fs-4 text-body-secondary">Вы можете связаться с нами любым способом, из указанных ниже</p>
</div>
<p>Авито: <a target="_blank" href="https://www.avito.ru/brands/da28ea4d4097f6c4a147329f36e3220a/all/predlozheniya_uslug?page_from=from_item_card_icon&iid=4489750205&sellerId=912f16d714498bf7c601df01e43fdb7d">Ссылка на профиль</a></p>
<p>Telegram: <a target="_blank" href="https://t.me/again_tdd">t.me/again_tdd</a></p>
<p>Email: <a target="_blank" href="mailto:introspace321@gmail.com?subject=Занятия по информатике">introspace321@gmail.com</a></p>
<p>Телефон: <a href="tel:89991991401">+7 (999) 199-14-01</a></p>
{% endblock %}
